<main class="container mt-5">
  <article>
    <h1>{{title}}</h1>
    <p>Written by {{user.username}} on {{format_date createdAt}}</p>
    <p>{{content}}</p>
  </article>
  <h3>Comments</h3>
  {{#each comments}}
  <div class="comment-box form-outline w-50">
    <p>{{comment_text}}</p>
    <p>By {{user.username}} on {{format_date createdAt}}</p>
  </div>
  {{/each}}
  {{#if logged_in}}
  <form class="new-comment-form" class="mb-3">
    <div class="mb-3">
      <textarea class="form-control w-50" id="new-comment" placeholder="Add a comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/if}}
</main>